@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 400;
    src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}
@font-face {
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}
@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}
@font-face {
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}
@font-face {
    font-family: Alegreya;
    font-style: italic;
    font-weight: 400;
    src: local("Alegreya Italic"),local(Alegreya-Italic),url(//fonts.gstatic.com/s/alegreya/v7/Q-XbT1m22Fi9BEKb7y59O1QlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/alegreya/v7/Q-XbT1m22Fi9BEKb7y59O_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/alegreya/v7/Q-XbT1m22Fi9BEKb7y59OxsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face {
    font-family: Alegreya;
    font-style: italic;
    font-weight: 700;
    src: local("Alegreya Bold Italic"),local(Alegreya-BoldItalic),url(//fonts.gstatic.com/s/alegreya/v7/IWi8e5bpnqhMRsZKTcTUWmzklk6MJbhg7BmBP42CjCQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/alegreya/v7/IWi8e5bpnqhMRsZKTcTUWoWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2"),url(//fonts.gstatic.com/s/alegreya/v7/IWi8e5bpnqhMRsZKTcTUWgFhaRv2pGgT5Kf0An0s4MM.woff) format("woff");
}
@font-face {
    font-family: Alegreya;
    font-style: italic;
    font-weight: 900;
    src: local("Alegreya Black Italic"),local(Alegreya-BlackItalic),url(//fonts.gstatic.com/s/alegreya/v7/-L71QLH_XqgYWaI1GbOVhsWwaGkf25P-zZOrMBTzpJc.eot?#) format("eot"),url(//fonts.gstatic.com/s/alegreya/v7/-L71QLH_XqgYWaI1GbOVhsjsb7Oq0o-uqUFW7Ygu5rM.woff2) format("woff2"),url(//fonts.gstatic.com/s/alegreya/v7/-L71QLH_XqgYWaI1GbOVhoPAkl-0rCkX4F4zIO7lYWE.woff) format("woff");
}
@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: 400;
    src: local(Alegreya),local(Alegreya-Regular),url(//fonts.gstatic.com/s/alegreya/v7/ykkDjEglwboeUvfBbf-orfesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/alegreya/v7/4vRXIs1BEbKX6mQ7lGu1I_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/alegreya/v7/MYFQxfgoxFvFirdbdLj3M_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: 700;
    src: local("Alegreya Bold"),local(Alegreya-Bold),url(//fonts.gstatic.com/s/alegreya/v7/F5BSMOSf_T8GT2wiqqpj3WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/alegreya/v7/F5BSMOSf_T8GT2wiqqpj3Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/alegreya/v7/F5BSMOSf_T8GT2wiqqpj3YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face {
    font-family: Alegreya;
    font-style: normal;
    font-weight: 900;
    src: local("Alegreya Black"),local(Alegreya-Black),url(//fonts.gstatic.com/s/alegreya/v7/77GwhzeWPpmLIJUaM8KhxGfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/alegreya/v7/77GwhzeWPpmLIJUaM8KhxI4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/alegreya/v7/77GwhzeWPpmLIJUaM8KhxIbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight Italic"),local(SourceSansPro-ExtraLightIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6CPAIRw3TZpZEbtNzDM7Nlo.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GLvoADUPo08d8_TfMCzMpg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PwwJPUC4r0o28cUCbhjOjM.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 300;
    src: local("Source Sans Pro Light Italic"),local(SourceSansPro-LightIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Ffv2gilBNcWxh_XnzykpgY.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6MAjkyiewWYrWZc50I8hK7I.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    src: local("Source Sans Pro Italic"),local(SourceSansPro-It),url(//fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM04EkD-uilk0_oIxFXvMtLk.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 600;
    src: local("Source Sans Pro Semibold Italic"),local(SourceSansPro-SemiboldIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6EbumxWHRSe1oVyAWeloI5o.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GQKuzMuncr0JB710wa2dPI.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    src: local("Source Sans Pro Bold Italic"),local(SourceSansPro-BoldIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6HXzH4U_Axe6qCclt7v7nW0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nnl6YROR5rHLkdLoHwoOWA.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Nog-We9VNve39Jr4Vs_aDc.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 900;
    src: local("Source Sans Pro Black Italic"),local(SourceSansPro-BlackIt),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6JbSLHYK2KPWJI4XZKReQz0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6Kixy-5gtMP3-zP8S1pobIg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6ONg1gFYvjbPSGxSBhvPu6E.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight"),local(SourceSansPro-ExtraLight),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Sans Pro Light"),local(SourceSansPro-Light),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"),local(SourceSansPro-Regular),url(//fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro Semibold"),local(SourceSansPro-Semibold),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"),local(SourceSansPro-Bold),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format("woff");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    src: local("Source Sans Pro Black"),local(SourceSansPro-Black),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot?#) format("eot"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2) format("woff2"),url(//fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff) format("woff");
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}
@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(HelveticaNeue),local(Helvetica);
}
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}
/* Fonts */
/* Calculate font size */
/* Colors */
/* MISC */
/* $meat: calc($base-lh * 1rem); */
/* $meat = $base-lh * 1rem */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    border: box-sizing;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
    color: #ff514a;
    text-decoration: none;
}
a:active {
    outline: 0;
}
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
/* Denfine font for heading */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya',serif;
}
h4, h5, h6 {
    text-transform: uppercase;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Color Variables */
.sg-header {
    background: #FE4365;
    color: #F3F3F3;
    padding: 1.5rem 0;
}
.sg-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sg-nav ul li {
    display: inline-block;
}
.sg-nav ul li a {
    color: #F3F3F3;
    -webkit-transition: color 0.35s ease-out;
    transition: color 0.35s ease-out;
}
.sg-nav ul li a:hover {
    color: $color-quinary;
}
.sg-section {}
.sg-section__title {
    color: #83AF9B;
}
.sg-section__sub-title {
    color: #FC9D9A;
}
.sg-example {
    border: 1px solid #F3F3F3;
    margin-bottom: calc(1.5rem * 4);
}
.sg-example__element {
    padding: 1.5rem;
}
.sg-example__title {
    background: #FE4365;
    color: #F3F3F3;
    padding: 1.5rem;
    margin: 0;
}
.sg-example__title em {
    float: right;
    display: inline-block;
}
.sg-example__descr {
    background: #F3F3F3;
    padding: 1.5rem;
}
.sg-example__descr p {
    //: #83AF9B;
    margin: 0;
}
/* Remove margin [*="language-"] */
code[class*="language-"], pre[class*="language-"] {
    margin: 0;
}

/*# sourceMappingURL=app.css.map */
