.site-head {
	background: red;
}

.site-head .site-title {
	color: tomato;
}

a {
	color: red;
}

.block {
	border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.block__item {
	padding: 1rem;
}

.block--primary {
	background: tomato;
}
