section.sg-section
	h1.sg-section__title Living Styleguide
	p.sg-section__intro
		| Welcome to the Chilli style guide.
	p
		| This is where you should look if you're interested in how to write code for Chilli.
