section
	h2 This is section title
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque pariatur, quaerat ad. Atque at ipsa eos delectus maxime, reiciendis quidem?

	ul
		li: a(href="#") Example link