section.sg-section
	h2.sg-section__title Typography
	p.sg-section__description
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque pariatur, quaerat ad. Atque at ipsa eos delectus maxime, reiciendis quidem?

	.row
		.large-6.columns
			.sg-section__content
				p.sg-section__description
					| Font Family
			
		.large-6.columns
			.sg-section__content
				h1.h-special Heading with special font
				p
					|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nesciunt maxime, eaque officia, adipisci quod vero nulla enim quia alias.
				
