section.sg-section
	h1.sg-section__title Basic markup and typographic styles
	
	h2.sg-section__sub-title Headings

	.sg-example
		h3.sg-example__title
			| Headings <em>_headings.css</em>
		
		h1 Welcome to Chilli Restaurant
		h2 I'll order a complete man after a desirable pattern.
		h3 I do deem it now a most meaning thing, that that old Greek.
		h4 I do deem it now a most meaning thing, that that old Greek.
		h5 I do deem it now a most meaning thing, that that old Greek.
		h6 I do deem it now a most meaning thing, that that old Greek.

	h2.sg-section__sub-title Body copy

	.sg-example
		h3.sg-example__title
			| p <em>_paragraphs.css</em>
		.sg-exmaple__descr
			p
				| Our default font-size is 16px at desktop.
				
