<!DOCTYPE html>
html(lang="en")
	//- HEAD
	include ./head.jade

	body
		
		header.sg-site-head
			.row
				.medium-4.columns
					h1.sg-site-title Chilli Styleguide

				.medium-8.columns
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia corrupti, eum incidunt commodi itaque sint, repellendus molestiae. Dolore dignissimos, fugiat?
						
		.row
			include ./components/typography.jade

		//- FOOTER
		include ./footer.jade
