<!DOCTYPE html>
html(lang="en", ng-app="styleGuide")
	//- HEAD
	include ./head.jade

	body(ng-controller="MainCtrl")

		header.sg-header
			.row
				nav.sg-nav
					ul
						li: a(href="#/overview" ng-class="{active: $route.current.activeTab == 'overview'}") Overview
						li: a(href="#/html" ng-class="{active: $route.current.activeTab == 'html'}") HTML
						li: a(href="#/css" ng-class="{active: $route.current.activeTab == 'css'}") CSS
						li: a(href="#/typography" ng-class="{active: $route.current.activeTab == 'typography'}") Typography
						li: a(href="#/forms" ng-class="{active: $route.current.activeTab == 'forms'}") Forms
						li: a(href="#/components" ng-class="{active: $route.current.activeTab == 'components'}") Components
						li: a(href="#/layouts" ng-class="{active: $route.current.activeTab == 'layouts'}") Layouts
						
		.row
			div(ng-view)

		//- FOOTER
		include ./footer.jade
