<!DOCTYPE html>
html(lang="en", ng-app="styleGuide")
	//- HEAD
	include ./head.jade

	body(ng-controller="MainCtrl")

		header.sg-header
			.row
				nav.sg-nav
					ul
						li: a(href="#/overview") Overview
						li: a(href="#/html") HTML
						li: a(href="#/css") CSS
						li: a(href="#/typography") Typography
						li: a(href="#/forms") Forms
						li: a(href="#/components") Components
						li: a(href="#/layouts") Layouts
						
		.row
			div(ng-view)
			//- include ./components/typography.jade

		//- FOOTER
		include ./footer.jade
