<!DOCTYPE html>
html(lang="en")
	//- HEAD
	include ./head.jade

	body

		header.sg-header
			.row
				nav.sg-nav
					ul
						li: a(href="#") Typography
						
		.row
			include ./components/typography.jade

		//- FOOTER
		include ./footer.jade
