/* Color Variables */
$sg-color-primary: #FE4365;
$sg-color-secondary: #83AF9B;
$sg-color-tertiary: #FC9D9A;
$sg-color-quaternary: #F9CDAD;
$sg-color-quinary: #C8C8A9;
$sg-color-text: #F3F3F3;

.sg-header {
	background: $sg-color-primary;
	color: $sg-color-text;
	padding: $meat 0;
}

.sg-nav {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 2em;

			&.active > a {
				border-bottom: 2px solid $sg-color-text;
			}

			a {
				color: $sg-color-text;
				transition: color 0.35s ease-out;
				font-weight: 700;
				padding-bottom: 5px;

				&:hover {
					color: $color-quinary;
				}
			}
		}
	}
}

@b sg-section {

	@e title {
		color: $sg-color-secondary;
	}

	@e sub-title {
		color: $sg-color-tertiary;
	}

	@e intro {
		font-weight: 700;
		font-size: calc($base-fz * 1.3);
	}
}

@b sg-example {
	border: 1px solid color($sg-color-text blackness(40%));
	margin-bottom: calc($meat * 4);

	@e element {
		padding: $meat;
		border-top: 1px solid color($sg-color-text blackness(40%));
		position: relative;
	}

	@e modifier-name {
		background: $sg-color-text;
		display: inline-block;
		padding: calc($meat / 4) calc($meat / 2);
		position: absolute;
		right: 0;
		top: 0;
	}

	@e title {
		background: $sg-color-primary;
		color: $sg-color-text;
		padding: $meat;
		margin: 0;
		display: flex;
		align-items: center;

		span {
			flex-grow: 1;
		}

		em {
			font-size: $h4-fz;
		}
	}

	@e descr {
		background: $sg-color-text;
		padding: $meat;

		p {
			// color: $sg-color-secondary;
			margin: 0;
		}
	}
}

/* Remove margin [*="language-"] */
code[class*="language-"],
pre[class*="language-"] {
	margin: 0;
	word-wrap: break-word;
}
