/* Color Variables */
$sg-color-primary: #FE4365;
$sg-color-secondary: #83AF9B;
$sg-color-tertiary: #FC9D9A;
$sg-color-quaternary: #F9CDAD;
$sg-color-quinary: #C8C8A9;
$sg-color-text: #F3F3F3;

.sg-header {
	background: $sg-color-primary;
	color: $sg-color-text;
	padding: $meat 0;
}

.sg-nav {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 2em;

			a {
				color: $sg-color-text;
				transition: color 0.35s ease-out;
				font-weight: 700;

				&:hover {
					color: $color-quinary;
				}
			}
		}
	}
}

@b sg-section {

	@e title {
		color: $sg-color-secondary;
	}

	@e sub-title {
		color: $sg-color-tertiary;
	}
}

@b sg-example {
	border: 1px solid $sg-color-text;
	margin-bottom: calc($meat * 4);

	@e element {
		padding: $meat;
	}

	@e title {
		background: $sg-color-primary;
		color: $sg-color-text;
		padding: $meat;
		margin: 0;

		em {
			float: right;
			display: inline-block;
		}
	}

	@e descr {
		background: $sg-color-text;
		padding: $meat;

		p {
			// color: $sg-color-secondary;
			margin: 0;
		}
	}
}

/* Remove margin [*="language-"] */
code[class*="language-"],
pre[class*="language-"] {
	margin: 0;
}