/* Color Variables */
$sg-color-primary: #FE4365;
$sg-color-secondary: #83AF9B;
$sg-color-tertiary: #FC9D9A;
$sg-color-quaternary: #F9CDAD;
$sg-color-quinary: #C8C8A9;
$sg-color-text: #F3F3F3;

.sg-header {
	background: $sg-color-primary;
	color: $color-text;
	padding: $meat;
}

.sg-nav {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			a {
				color: $sg-color-text;
				transition: color 0.35s ease-out;

				&:hover {
					color: $color-quinary;
				}
			}
		}
	}
}

@b sg-section {

	@e title {
		color: $sg-color-secondary;
	}

	@e sub-title {
		color: $sg-color-tertiary;
	}
}

@b sg-example {

	@e title {
		background: $sg-color-primary;
		color: $sg-color-text;
		padding: $meat;
		margin: 0;

		em {
			float: right;
			display: inline-block;
		}
	}
}
