/* Fonts */
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Alegreya', serif;
$font-special: 'AguafinaScript Regular', 'Source Sans Pro', sans-serif;

$base-fz: 16px;
$base-lh: 1.5;

/* Calculate font size */
$scale: 1.25;
$h1-fz: 2.441rem;
$h2-fz: 1.953rem;
$h3-fz: 1.563rem;
$h4-fz: 1.25rem;
$h5-fz: 1rem;
$h6-fz: 0.889rem;

/* Colors */
$sunset-orange: #ff514a;
$black: #000000;
$star-dust: #9e9e9e;
$celeste: #cccccc;
$white-smoke: #f5f5f5;
$white: #ffffff;

$color-primary: $sunset-orange;
$color-secondary: $black;
$color-tertiary: $white-smoke;

/* MISC */
/* $meat: calc($base-lh * 1rem); */
/* $meat = $base-lh * 1rem */
$meat: 1.5rem;
