.site-head {
	background: red;

	.site-title {
		color: tomato;
	}
}

a {
	color: red;
}

@b block {
	border-radius: 50%;
	display: flex;

	@e item {
		padding: 1rem;
	}

	@m primary {
		background: tomato;
	}
}